/* general styles */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/background-pagina.png');
}

#contenitore {
  width: 80%;
  margin: auto;
  font-family: 'Roboto';
}

/* Sezione Header */
header {
  font-family: 'Montserrat';
}

.box-img {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 330px;
  background-image: url('../img/background-banner.jpeg');
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.testo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}




#menu {
  background: #333;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
}

/* sezione content */

#contenitore-tutto {
  margin-top: 20px;
}

#contenitore-tutto::after {
  content: '';
  display: table;
  clear: both;
}

/* colonne */

.colonna {
  float: left;
}

.sx {
  width: 25%;
  padding-right: 10px;
}

.cn {
  width: 50%;
  padding: 0 10px;
}

.dx {
  width: 25%;
  padding-left: 10px;
}

.box {
  height: 400px;
  background: #fff;
  margin-bottom: 20px;
}

/* footer */
#footer {
  text-align: center;
}

#testo-footer {
  height: 50px;
  background: #ccc;
}

#socials {
  list-style: none;
  padding: 0;
  background: #fff;
  height: 100px;
  line-height: 100px;
}

#socials li {
  width: calc(100% /3);
  float: left;
}
