* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: auto;
}

/* Sezione Header */
#header-image {
  margin: auto;
  margin-top: 20px;
  background: red;
  height: 200px;
}

#menu {
  background: #8B0000;
  height: 40px;
}

/* sezione content */

#contenitore-tutto {
  margin-top: 20px;
}

#contenitore-tutto::after {
  content: '';
  display: table;
  clear: both;
}

.contenitore {
  float: left;
}

.sx {
  width: 25%;
  background: blue;
  height: 250px;
}

.centrale {
  width: 50%;
  height: 200px;
  background: green;
}

.dx {
  float: left;
  width: 25%;
  height: 800px;
}

.tab-dx {
  height: calc(800px / 3);
  background: yellow;
}


/* footer */
#footer {
  background: purple;
  height: 100px;
}
